html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 5rem);
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 90%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 75px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 35px 50px;
    text-align: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header .logo img {
    width: 150px;
}

.header .hamburger-icon img {
    padding-right: 40px;
}

#headerRight {
    padding-right: 50px;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
}

.main-content {
    padding: 1%;
    border-radius: 0px;
    text-align: center;
    font-size: 450%;
    color: white;
    background-image: url(assets/bgimg.png);
    background-size: 100% auto;
    background-position: center;
    height: 100vh;
}

.welcome-text {
    padding-top: 75px;

}

.main-content-p {
    font-size: 35%;
    margin-left: 15%;
    margin-right: 15%;
}

.main-content button {
    padding: 20px 50px;
    font-size: 25px;
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    border-radius: 15px;
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rectangle {
    width: 100%;
    height: 400px;
    background-color: #00928f;
    padding-top: 17px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 15%;
    margin: 0 8.9%;
    margin-top: 90px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8.9%;
    margin: 0;
    max-width: 100%;
}

.text-item {
    flex: 1;
    text-align: center;
    padding: 1px;
    color: #fff;
    font-weight: bold;
    font-size: 110%;
}

.review-pic-container {
    width: 99%;
    height: 700px;
    background-color: #fafafa;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-right: -300px;
}

.right-section {
    flex: 1;
    text-align: center;
    padding-top: 75px;
    font-size: 170%;
}

.center-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.center-section img {
    max-width: 100%;
}

/* .review-left {
    font-weight: bolder;
    font-size: 170%;
    max-width: 270px;
    text-align: left;
    margin-bottom: -25px;
}

.review-left-small {
    text-align: left;
    margin-right: 165px;
} */

.review-right{
    padding: 35px;
    color: #8b8b8b;
    text-align: left;
    max-width: 90vw;
    font-size: 2vw;
    border-bottom: solid;

    @media screen and (min-width: 1200px) {
        font-size: 1.6vw;
    }

    @media screen and (min-width: 1600px) {
        font-size: 1.8vw;
    }
}

.review-text{
    font-size: 0.75em;
}


.services-container {
    width: 100%;
    background-color: #fafafa;
    text-align: center;
    padding: 20px 0;
}

.services-text {
    color: #1a1a1a;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.services-item {
    width: 22%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.services-item img {
    max-width: 90%;
    height: auto;
}

.services-desc {
    margin-top: 10px;
    font-weight: bold;
    color: #1a1a1a;
    font-size: 150%;
}

/* .pic-container {
    background-color: #eeeeee;
    width: 100%;
    height: 500px;
    align-items: center;
}

.pic-container-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.pic-container-item img {
    max-width: 100%;
    padding: 0 1.5%;
    margin-top: 90px;
} */

.map {
    display: flex;
    margin: 0 auto;
    background-color: #d59f0f;
    width: 100%;
    height: 768px;
    justify-content: center;
}

.map-inner {
    display: flex;
    background-color: white;
    width: 65%;
    height: 568px;
    margin-top: 100px;
}

.map-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.map-text-item {
    margin-bottom: 10px;
}

.map-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20%;
    padding-top: 20%;
}

.map-image img {
    max-width: 200%;
}

.mapitem1 {
    font-weight: bold;
    font-size: 220%;
    color: #1a1a1a;
}

.mapitem2 {
    text-align: left;
    margin: 10px 0;
    font-size: 16px;
    max-width: 100%;
    font-weight: lighter;
    color: #3b3b3b;
    line-height: 2.5;
    padding-bottom: 35px;
    padding-right: 40px;
}

.mapitem3 {
    font-weight: bold;
    padding-bottom: 0px;
}

.mapitem4 {
    color: #1a1a1a;
    padding-right: 200px;
    line-height: 1.5;
}

.button-container {
    display: flex;
    padding-top: 20px;
}

.gmaps-button {
    display: inline-block;
    padding: 10px 35px;
    font-size: 16px;
    background-image: url(assets/gmaps\ icons.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
    margin-right: 10px;
}

.waze-button {
    display: inline-block;
    padding: 19px 45px;
    font-size: 16px;
    background-image: url(assets/waze\ icons.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.contact-container {
    width: 100%;
    height: 500px;
    background-color: #040406;
}

.contact-header {
    font-weight: bolder;
    font-size: 450%;
    color: #fafafa;
    text-align: center;
    padding-top: 100px;
}

.contact-mahallah {
    font-weight: bold;
    font-size: 150%;
    color: #fafafa;
    text-align: center;
    padding-top: 70px;
}

.contact-item {
    color: #fafafa;
    text-align: center;
    padding-top: 20px;
}

.contact-no {
    padding-top: 20px;
}

.contact-ws {
    padding-top: 20px;
}

footer {
    background-color: #040406;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.footer-contact {
    display: flex;
    align-items: center;
    padding-left: 70px;
    margin-right: auto;
}

.footer-text {
    text-align: right;
    padding-right: 70px;
}

.footer-icon-container {
    display: flex;
    align-items: center;
}

.footer-icon-container img {
    width: 20px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .header-image {
        width: 200px;
    }
    
    .main-content {
        font-size: 300%;
    }

    .image-container {
        flex-direction: row;
        justify-content: center;
        padding-top: 100px;
    }

    .image-container img {
        max-width: 20%;
        margin: 0 30px;
    }

    .text-container {
        flex-direction: row;
        align-items: center;
    }

    .text-item {
        text-align: center;
        margin: 10px 0;
        font-size: 80%;
    }

    .review-pic-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .left-section,
    .center-section,
    .right-section {
        flex: auto;
        text-align: center;
        margin-top: 20px;
        margin-right: 0;
        padding: 0 10px;
        max-width: 100%;
    }

    .review-left,
    .review-left-small,
    .review-right {
        text-align: center;
        margin: 10px 0;
        font-size: 16px;
        max-width: 100%;
    }

    .review-left-small {
        margin-right: 0;
    }

    .center-section img,
    .left-section img {
        width: 70%;
    }

    .services-container {
        height: auto;
    }

    .services-image-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-image-container img {
        max-width: 40%;
        margin: 10px;
    }

    .services-text-container {
        flex-direction: column;
        align-items: center;
    }

    .services-text-item {
        display: none;
    }

    .pic-container-item img {
        display: none;
    }

    .pic-container-item .left-arrow,
    .pic-container-item .right-arrow {
        display: block;

    }

    .pic-container-item .pic {
        display: block;
        width: 45%;
    }

    .map-inner {
        flex-direction: column;
        align-items: center;
    }

    .map-image {
        display: none;
    }

    .map-text {
        padding: 20px 0;
        text-align: center;
    }

    .map-text-item {
        margin: 10px 0;
    }

    .mapitem2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .mapitem3 {
        font-weight: bold;
        padding-bottom: 30px;
    }

    .mapitem4 {
        padding-right: 20px;
        padding-left: 20px;
        margin-top: -40px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-container {
        font-size: 90%;
    }

    .footer-content {
        font-size: 70%;
    }

}

.fs-800 {
    font-size: var(--fs-800);
}

:root {
    --fs-800: 2.5rem;
}